{% extends 'base_index.html' %}

{% block nav %}
  <a style="color: #D9C179;" href="{% url 'index' %}">Página Inicial</a>
  <a href="{% url 'minhascampanhas' %}">Minhas Campanhas</a>
{% endblock %}

{% block inicio %}
  <div style="margin-bottom: 30px;" class="area-ext">
    <div class="area-inicio">
      <img style="background-color: transparent;height: 350px;" src="https://marketplace.canva.com/kaOF0/MAFC5UkaOF0/1/s2/canva-cartoon-children-playing-rpg-MAFC5UkaOF0.png" alt="" />
      <div style="width: 40%;" class="inicio-content">
        <h1>BEM VINDO AO</h1>
        <h1 style="margin-top: -15px;">DRACONATO!</h1>
        <h3>Sua plataforma completa para gerenciar e viver aventuras épicas no mundo do RPG. Crie, compartilhe e jogue. <br> Sua jornada começa agora!</h3>
        <div class="inicio-botao">
          <button>Começar agora!</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block area %}
  <div class="area-med">
    <div class="area-camp">
      <div class="area-camp-title">
        <i class="bi bi-clock-fill"></i>
        <h3 class="title-1">Campanhas Recentes</h3>
      </div>
      <div class="camp-content">
        {% if campanhas %}
          {% for campanha in campanhas %}
            <a href="{% url 'dashboard' campanha.pk %}" class="camp">
              <img src="{{ campanha.imagem.url }}" alt="" />
              <h3>{{ campanha.nome }}</h3>
            </a>
          {% endfor %}
        {% else %}
          <div>
            <h2 class="erro-h2">Ops...</h2>
            <h3 class="erro-h3">Você não faz parte de nenhuma campanha :(</h3>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="area-botao">
      <a href="{% url 'minhascampanhas' %}" class="botao-vermais">
        {% if campanhas %}
          Minhas Campanhas
        {% else %}
          Ver Campanhas
        {% endif %}
      </a>
    </div>
  </div>
{% endblock %}
