{% extends 'base_login.html' %}

{% block content %}
  <div class="login">
    <div class="possui-conta">
      <p>Não possui conta?</p>
      <a href="{% url 'account_signup' %}" class="c2">Registre-se!</a>
    </div>
    <h2>Login</h2>
    <div class="campos">
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

        <input type="text" name="email_or_username" id="id_email_or_username" placeholder="E-mail ou Usuário" />
        
        <input type="password" name="password" id="id_password" placeholder="Senha" />

        <div class="manter">
          <input type="checkbox" name="remember" id="id_remember" />
          <p for="id_remember">Permanecer conectado</p>
        </div>

        <button class="entrar">Entrar</button>
      </form>
    </div>

    <div class="possui-conta">
      <a class="c3" href="{% url 'account_reset_password' %}">Esqueci minha senha</a>
    </div>
  </div>
{% endblock %}
