{% extends 'base_index.html' %}

{% block nav %}
  <a href="{% url 'index' %}">Página Inicial</a>
  <a style="color: #D9C179;" href="{% url 'minhascampanhas' %}">Minhas Campanhas</a>
{% endblock %}

{% block area %}
  <div class="area-med2">
    <div class="area-camp2">
      <div class="area-camp-title2">
        <i class="bi bi-list-ul"></i>
        <h3 class="title-1">Minhas Campanhas</h3>
      </div>
      <div class="area-search">
        <div class="pesquisa">
          <form method="GET" id="search-form">
            <button class="btn-pesquisa" id="search-btn"><i class="bi bi-search"></i></button>
            <input placeholder="Pesquisar campanha..." type="text" name="search" id="search" />
          </form>
        </div>

        <a class="btn-criarcamp" href="{% url 'campanha-criar' %}">Criar Campanha</a>
      </div>
      <div class="camp-content2">
        {% for campanha in campanhas %}
          <div class="mcamp">
            <a class="img-camp" href=""><img src="{{ campanha.imagem.url }}" alt="" /></a>
            <div class="area-mcamp">
              <div class="info-mcamp">
                <a href="">{{ campanha.nome }}</a>
                <div class="info-mestre">
                  <i class="fa-solid fa-crown"></i>
                  <h3>{{ campanha.mestre }}</h3>
                </div>
                <div class="info-acesso">
                  <i class="bi bi-clock"></i>
                  <h3>Criado em: {{ campanha.data_inicio }}</h3>
                </div>
              </div>
              <div class="info-mcamp-2">
                <div class="jogadores">
                  <i class="bi bi-people-fill"></i>
                  <p>{{ campanha.jogador.count }} Jogadores</p>
                </div>
                <button class="iniciar-camp"><a href="{% url 'dashboard' campanha.pk %}">Iniciar Jogo</a></button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="paginator">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
