{% extends 'base_index.html' %}

{% block area %}
{% if pesquisa %}
        <h2>Resultados da Pesquisa para "{{ pesquisa }}"</h2>
        {% for campanha in campanhas %}
          <div class="mcamp">
            <a class="img-camp" href=""><img src="{{ campanha.imagem.url }}" alt="" /></a>
            <div class="area-mcamp">
              <div class="info-mcamp">
                <a href="">{{ campanha.nome }}</a>
                <div class="info-mestre">
                  <i class="fa-solid fa-crown"></i>
                  <h3>{{ campanha.mestre }}</h3>
                </div>
                <div class="info-acesso">
                  <i class="bi bi-clock"></i>
                  <h3>Último acesso: 00/00/0000</h3>
                </div>
              </div>
              <div class="info-mcamp-2">
                <div class="jogadores">
                  <img src="https://t3.ftcdn.net/jpg/03/53/11/00/360_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg" alt="" />
                </div>
                <button class="iniciar-camp"><a href="{% url 'dashboard' campanha.pk %}">Iniciar Jogo</a></button>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <h2>Esqueceu de pesquisar!</h2>
        {% endif %}
      </div>
      <div class="paginator">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
        {% endif %}

{% endblock %}