{% extends 'base_dashboard.html' %}

{% block nav %}
  <div class="mural">
    <a class="botao-ativo" href="">Mural</a>
  </div>
  <div class="opcoes">
    <a class="botao-1" href="{% url 'dashboard-fichas' campanha.pk %}">Fichas</a>
    <a style="color: #4C4B4B" class="botao-1-desativado">Anotações</a>
    <a style="color: #4C4B4B;" class="botao-1-desativado">Imagens</a>
    <a style="color: #4C4B4B;" class="botao-1-desativado">Músicas</a>
  </div>
  <div class="
  
  
  {% if request.user != campanha.mestre %}
    
  configuracoes-desativado

  {% else %}
    
  configuracoes

  {% endif %}
  
  ">
    <a 
    
    {% if request.user == campanha.mestre %}
      
    href="{% url "campanha-editar" campanha.pk %}"

    {% endif %}

    ><i
    
    {% if request.user != campanha.mestre %}
      
    style="color: #4C4B4B;"

    {% endif %}
    
    class="bi bi-gear-fill"></i></a>
  </div>
{% endblock %}

{% block content %}
  <div class="area-mural">
    <div class="l-side">
      <div class="info">
        <img src="{{ campanha.imagem.url }}" alt="" />
        <h2>{{ campanha.nome }}</h2>
        <h3>{{ campanha.sistema }}</h3>
      </div>
      <div class="desc">
        <div style="display: flex;justify-content: space-around ; flex-direction: row; flex-wrap: wrap; align-items: center;
         align-content: center; margin-top: 10px;">
          <p>
            <i class="fa-solid fa-crown"></i> {{ campanha.mestre }}
          </p>
          <p>
            <i class="bi bi-people-fill"></i> {{ campanha.jogador.count }}
          </p>
          <p>
            <i class="bi bi-clock"></i> {{ campanha.data_inicio }}
          </p>
          <p>
            <i class="bi bi-info-circle"></i> {{ campanha.descricao }}
          </p>
        </div>
      </div>
    </div>

    <div class="r-side">
      <div class="area-posts">
        <div class="posts-cabecalho">
          <h2>Mural da Campanha</h2>
          <a href="{% url 'postagem-criar' campanha.id %}">Criar Postagem</a>
        </div>
        <div class="posts">
          {% for postagem in postagens %}
          
            <div class="post">
              {% if request.user == postagem.autor %}
                <div class="post-autor">
                  {% if postagem.autor == campanha.mestre %}
                    <i style="margin-bottom: -5px;" class="fa-solid fa-crown"></i>
                  {% endif %}

                  <i style="font-size: 30px; color: white;" class="bi bi-person-circle"></i>
                  <h3>{{ postagem.autor }}</h3>
                </div>

                <hr />
              {% endif %}

              <div class="post-conteudo">
                <p class="post-texto">{{ postagem.texto }}</p>
                <div class="post-hora">
                  <i class="bi bi-clock"></i>
                  <p>{{ postagem.data_postagem }} - {{ postagem.hora_criacao }}</p>
                </div>
              </div>

              {% if request.user == postagem.autor %}
                <hr />
                <div class="post-feedback">
                  <a href="{% url 'postagem-update' postagem.pk %}"><i class="bi bi-pencil-square"></i></a>
                  <a data-toggle="modal" data-target="#myModal{{ postagem.pk }}" style="color: white;"><i class="bi bi-trash3-fill"></i></a>
                </div>

                <div class="modal" id="myModal{{ postagem.pk }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Excluir Postagem?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
  
                      <!-- Modal Body -->
                      <div class="modal-body">
                        <!-- Form inside the modal -->
                        <form style="display: flex; flex-direction: column;" method="post" enctype="multipart/form-data" action="{% url 'postagem-delete' postagem.pk %}">
                          {% csrf_token %}
                          <p>Deseja realmente excluir a postagem "{{ postagem.texto }}"?</p>
                          <div class="modal-footer">

                            <button type="submit" class="btn btn-danger" >Deletar</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              {% else %}
                <hr style="mar" />
                <div class="post-autor">
                  {% if postagem.autor == campanha.mestre %}
                    <i style="margin-bottom: -5px;" class="fa-solid fa-crown"></i>
                  {% endif %}

                  <i style="font-size: 30px; color: white;" class="bi bi-person-circle"></i>
                  <h3>{{ postagem.autor }}</h3>
                </div>
              {% endif %}

            </div>
            
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
