{% extends 'base_ficha.html' %}

{% block content %}
    <div class="ficha">

        <a style="text-decoration: none; color: #D9C179;" href="javascript:history.back()" class="ficha-cabecalho">
          Voltar
        </a>
        <div class="ficha-cabecalho">
          <h2>{{request.user}} - Sussuros das Profundezas</h2>
        </div>

        <form class="ficha-content" enctype="multipart/form-data" method="post">
            {% csrf_token %}
          <div class="ficha-l-side">

            <div style="display: none;">
                {{form.campanha}}
                <select name="usuario" required id="id_usuario">
                  <option value="{{request.user.id}}" selected>{{request.user}}</option>
            </select>
            </div>

            <input class="img-input" type="file" name="imagem" accept="image/*" required id="id_imagem" onchange="displaySelectedImage(event, 'selectedImage')">
            <img class="ficha-foto" id="selectedImage" src="https://excellence.truman.edu/files/2022/02/Photo-Placeholder-Image-150x150-1.jpg" alt="example placeholder" />
            <h1 class="ficha-lvl">Lvl.<input type="number" id="id_level" class="level-valor"/></h1>

            <div class="ficha-vida">
              <i class="bi bi-heart-pulse-fill"></i>
              <h2>|</h2>
              <input type="number" id="id_vida" class="vida-valor" />
            </div>

            <div class="ficha-pericia">
              <input type="number" id="id_forca" class="pericia-valor" />
              <h2 class="pericia-info">FORÇA</h2>
            </div>
            <div class="ficha-pericia">
              <input type="number" id="id_destreza" class="pericia-valor" />
              <h2 class="pericia-info">DESTREZA</h2>
            </div>
            <div class="ficha-pericia">
              <input type="number" id="id_constituicao" class="pericia-valor" />
              <h2 class="pericia-info">CONSTITUIÇÃO</h2>
            </div>
            <div class="ficha-pericia">
              <input type="number" id="id_inteligencia" class="pericia-valor" />
              <h2 class="pericia-info">INTELIGÊNCIA</h2>
            </div>
            <div class="ficha-pericia">
              <input type="number" id="id_sabedoria" class="pericia-valor" />
              <h2 class="pericia-info">SABEDORIA</h2>
            </div>
            <div class="ficha-pericia">
              <input type="number" id="id_carisma" class="pericia-valor" />
              <h2 class="pericia-info">CARISMA</h2>
            </div>
          </div>
          <div class="ficha-r-side">
            <div class="r-s-campo-1">
              <h3>Personagem</h3>
              {{form.nome}}
            </div>
            <div class="r-s-campo-2">
              <div>
                <h3>Classe</h3>
                {{form.classe}}
              </div>
              <div>
                <h3>Raça</h3>
                <input type="text" id="id_raca"/>
              </div>
            </div>
            <div class="r-s-campo-2">
              <div>
                <h3>Armadura</h3>
                <input type="text" id="id_ca"/>
              </div>
              <div>
                <h3>Deslocamento</h3>
                <input type="text" id="id_deslocamento"/>
              </div>
            </div>
            <div class="r-s-campo-3">
              <h3>Perícias</h3>
              <textarea name="" id="id_pericias" cols="30" rows="10"></textarea>
            </div>
            <div class="r-s-campo-3">
              <h3>Magias e Habilidades</h3>
              <textarea name="" id="id_mh" cols="30" rows="10"></textarea>
            </div>
            <div class="r-s-campo-3">
              <h3>Inventário</h3>
              <textarea name="" id="id_inventario" cols="30" rows="10">{{personagem.inventario}}</textarea>
            </div>
          </div>

        </form>
      </div>
    </div>
{% endblock %}
