@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Montserrat:wght@100;500;700;800&family=Poppins&display=swap');

*{
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho: */

.area-total{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cabecalho{
    height: 125px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.cabecalho-logo a{
    text-decoration: none;
}

.cabecalho-logo a .logo{
    width: 270px;
}

.cabecalho-nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.cabecalho-nav a{
    text-decoration: none;
    color: #4C4B4B;
}

.cabecalho-nav a:hover{
    color: #D9D179;
}

.cabecalho-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.cabecalho-user .notificacoes{
    color: #4C4B4B;
    font-size: 25px;
}

.cabecalho-user .botao{
    background-color: #D9D179;
    border-radius: 25px;
    width: max-content;
    margin-left: 15px;
    padding: 3px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #171717;
    border-style: none;
}

.cabecalho-user .botao:active{
    background-color: #cac15e;
}

.cabecalho-user .botao i{
    background-color: transparent;
    font-size: 30px;
    margin-left: 10px;
}

.dropdown-menu{
    border-radius: 25px;
    background-color:#262424;
    border-top-right-radius: 0px;
    width: 30px;
}

.dropdown-item{
    border-radius: 25px;
    color:#636363;
    font-weight: 700;
    font-size: 13px;
}

.dropdown-item i {
    background-color: transparent;
    font-size: 15px;
    margin-right: 5px;
}

.dropdown-item:hover{
    background-color:transparent;
    color: #D9D179;
}



/* Conteúdo: */

.corpo{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.area-ext{
    width: 1200px;
    padding: 20px;
    background-color: #262424;
    border-radius: 25px;
}

.area-inicio {
    background-color: #262424;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 450px;
}

.inicio-content{
    background-color: #262424;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.inicio-content h1{
    background-color: #262424;
    width: 450px;
    font-size: 38px;
    text-align: right;
    font-weight: 800;
    color: #D9D179;
}

.inicio-content h3{
    margin-top: 5px;
    background-color: #262424;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 450px;
    height: fit-content;
    text-align: right;
}

.inicio-botao{
    margin-top: 15px;
    background-color: transparent;
    display: flex;
    justify-content: right;
    text-align: center;
    width: 100%;
}

.inicio-botao a{
    text-decoration: none;
    margin-right: 15px;
    font-weight: 700;
    color: #262424;
    background-color: #D9D179;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    border-radius: 20px;
}

.area-med{
    width: 100%;
    background-color: #171717;
    padding: 20px;
    border-radius: 25px;
}

.area-med2{
    width: 100%;
    background-color: #262424;
    padding: 20px;
    border-radius: 25px;
}

.area-camp {
    width: 100%;
    background-color: #171717;
}

.area-camp2 {
    width: 100%;
    background-color: #262424;
}

.area-camp-title{
    height: 40px;
    margin: 20px;
    margin-bottom: -30px;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.area-camp-title2{
    background-color: #262424;
    height: 40px;
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.area-camp-title i{
    color: #D9D179;
    font-size: 30px;
    margin-right: 10px;
    margin-top: -5px;
}

.area-camp-title2 i{
    background-color: #262424;
    color: #D9D179;
    font-size: 30px;
    margin-right: 10px;
    margin-top: -5px;
}

.area-camp-title h3{
    font-size: 20px;
    margin-right: 5px;
    font-weight: 700;
}

.area-camp-title2 h3{
    background-color: #262424;
    font-size: 20px;
    margin-right: 5px;
    font-weight: 700;
}

.title-1{
    color: #D9D179;
    font-weight: 500;
}

.camp-content{
    margin-top: 0px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

.camp-content2{
    background-color: #262424;
    margin-top: 0px;
    margin: 20px;
}

.area-search{
    margin: 20px;
    background-color: #262424;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.pesquisa, form{
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    width: 60%;
}

.pesquisa .btn-pesquisa{
    background-color: transparent;
    border-style: none;
    color: #4C4B4B;
    font-size: 20px;
    width: 20%;
    height: 40px;
}

.pesquisa input{
    outline: none;
    color: #D9D179;
    border-style: none;
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
}

.btn-criarcamp{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #D9D179;
    height: 40px;
    width: 22%;
    margin-right: 40px;
    color: #262424;
    border-radius: 25px;
    text-decoration: none;
}

.mcamp{
    background-color: #262424;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-camp{
    background-color: transparent;
}

.img-camp img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.area-mcamp{
    height: 100%;
    width: 78%;
    border-radius: 25px;
}

.info-mcamp{
    background-color: transparent;
    margin: 30px;
}

.info-mcamp-2{
    margin: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: transparent;
    justify-content: space-between;
}

.info-mcamp a{
    text-decoration: none;
    color: #D9D179;
    font-size: 22px;
}

.jogadores{
    color: #4C4B4B;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    align-content: center;
}

.jogadores i, p{
    font-size: 20px;
}

.jogadores p{
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    margin-left: 5px;
}

.info-mestre, .info-acesso{
    display: flex;
    align-items: center;
    align-content: center;
    color: #585757;
    font-size: 15px;
}

.info-mcamp h3, .info-acesso h3{
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
}

.iniciar-camp{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D179;
    border-radius: 25px;
    height: 35px;
}

.iniciar-camp:hover{
    background-color: #D9D179;
}

.iniciar-camp a:hover{
    color: #262424;
}

.iniciar-camp a{
    text-decoration: none;
    background-color: transparent;
    color:#D9D179;

    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.paginator{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.paginator a{
    color: #262424;
    text-decoration: none;
    border-radius: 25px;
    background-color: #D9D179;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.camp {
    margin-top: 30px;
    text-decoration: none;

    height: max-content;
    padding: 20px;
    width: max-content;
    border-radius: 25px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color: #262424;
    color: white;
}

.camp:hover{
    background-color: #D9D179;
    color: #262424;
}

.camp img{
    border-radius: 10px;
    width: 180px;
    height: 180px;
}

.camp h3{
    background-color: transparent;
    width: 180px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

.area-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.botao-vermais{
    text-decoration: none;
    text-align: center;
    color: #171717;
    font-weight: 700;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #D9D179;
}

.erro-h2{
    margin-top: 30px;
    font-size: 30px;
    color: #4C4B4B;
}

.erro-h3{
    font-size: 20px;
    color: #4C4B4B;
    margin-bottom: 30px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer h3{
    font-size: 15px;
    color: white;
}