{% extends 'base_login.html' %}

{% block content %}
  <div class="login">
    <div class="possui-conta">
      <p>Já possui conta?</p>
      <a href="{% url 'account_login' %}" class="c2">Entrar!</a>
    </div>
    <h2>Registre-se</h2>
    <div class="campos">
      <form method="post" action="/accounts/signup/">
        <input type="hidden" name="csrfmiddlewaretoken" value="gUopyGp2DVy4LGIm7V7hIFxGsgFfJoVkre6GGuySRF6UU2sFUnGQecikGhVBUvwX" />
        <p>
          <input type="text" name="username" placeholder="Nome de usuário" autocomplete="username" minlength="1" maxlength="150" required id="id_username" />
        </p>

        <p>
          <input type="email" name="email" placeholder="Email (não obrigatório)" autocomplete="email" maxlength="320" id="id_email" />
        </p>

        <p style="color: gray; margin-top: -10px; margin-bottom: 10px;">_____________________________</p>

        <p>
          <input type="password" name="password1" placeholder="Senha" autocomplete="new-password" required id="id_password1" />

        </p>

        <p>
          <input type="password" name="password2" placeholder="Confirmar senha" autocomplete="new-password" required id="id_password2" />
        </p>

        <button style="margin-top: 10px;" type="submit" class="entrar">Registrar-se</button>
      </form>
    </div>

  </div>
{% endblock %}
