{% extends 'base_ficha.html' %}

{% block content %}
    <div class="ficha">

        <div class="ficha-cabecalho">
          
          <a style="text-decoration: none; color: #D9C179;" href="javascript:history.back()" class="ficha-cabecalho">
            Voltar
          </a>

          {% if personagem %}
            
          <h2>{{personagem.usuario}} - Sussuros das Profundezas</h2>

          {% else %}
            
          <h2>{{request.user}} - Sussuros das Profundezas</h2>

          {% endif %}
        </div>

        <form class="ficha-content" enctype="multipart/form-data" method="post">
            {% csrf_token %}
          <div class="ficha-l-side">

            <div style="display: none;">
              
              {% if personagem %}
                
              <select name="campanha" required id="id_campanha">
                <option value="{{personagem.campanha.id}}" selected>{{personagem.campanha}}</option>
          </select>

              {% else %}
                
                {{form.campanha}}
              
              {% endif %}

              
              {% if personagem %}
                
              <select name="usuario" required id="id_usuario">
                <option value="{{request.user.id}}" selected>{{request.user}}</option>
          </select>

              {% endif %}
                
                <select name="usuario" required id="id_usuario">
                  <option value="{{request.user.id}}" selected>{{request.user}}</option>
            </select>
            </div>

            <input class="img-input" value="{{personagem.imagem.url}}" type="file" name="imagem" accept="image/*" id="id_imagem" onchange="displaySelectedImage(event, 'selectedImage')">
            <img class="ficha-foto" id="selectedImage" src="
            {% if personagem %}
            {{personagem.imagem.url}}
            {% else %}
            https://i.ibb.co/pzkH6gc/placeholder.png
            {% endif %}
            " alt="example placeholder" />
            <h1 class="ficha-lvl">Lvl.{{form.level}}</h1>

            <div class="ficha-vida">
              <i class="bi bi-heart-pulse-fill"></i>
              <h2>|</h2>
              {{form.vida}}
            </div>

            <div class="ficha-pericia">
              {{form.forca}}
              <h2 class="pericia-info">FORÇA</h2>
            </div>
            <div class="ficha-pericia">
              {{form.destreza}}
              <h2 class="pericia-info">DESTREZA</h2>
            </div>
            <div class="ficha-pericia">
              {{form.constituicao}}
              <h2 class="pericia-info">CONSTITUIÇÃO</h2>
            </div>
            <div class="ficha-pericia">
              {{form.inteligencia}}
              <h2 class="pericia-info">INTELIGÊNCIA</h2>
            </div>
            <div class="ficha-pericia">
              {{form.sabedoria}}
              <h2 class="pericia-info">SABEDORIA</h2>
            </div>
            <div class="ficha-pericia">
              {{form.carisma}}
              <h2 class="pericia-info">CARISMA</h2>
            </div>
          </div>
          <div class="ficha-r-side">
            <div class="r-s-campo-1">
              <h3>Personagem</h3>
              {{form.nome}}
            </div>
            <div class="r-s-campo-2">
              <div>
                <h3>Classe</h3>
                {{form.classe}}
              </div>
              <div>
                <h3>Raça</h3>
                {{form.raca}}
              </div>
            </div>
            <div class="r-s-campo-2">
              <div>
                <h3>Armadura</h3>
                {{form.ca}}
              </div>
              <div>
                <h3>Deslocamento</h3>
                {{form.deslocamento}}
              </div>
            </div>
            <div class="r-s-campo-3">
              <h3>Perícias</h3>
              {{form.pericias}}
            </div>
            <div class="r-s-campo-3">
              <h3>Magias e Habilidades</h3>
              {{form.mh}}
            </div>
            <div class="r-s-campo-3">
              <h3>Inventário</h3>
              {{form.inventario}}
            </div>
            <button type="submit">
                Salvar Ficha
            </button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
