{% extends 'base_form.html' %}

{% block content %}
  <div class="form">
    <div class="cabecalho">
      
      {% if campanha %}
        
      <h2>Edição de Campanha</h2>

      {% else %}

      <h2>Criação de Campanha</h2>

      {% endif %}
        
    </div>
    <div class="conteudo">
      <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="c1">
          <label for="id_nome">Título:</label>
          {{ form.nome }}

          <div style="display: none;">
          <select name="mestre" required id="id_mestre">
            <option value="{{request.user.id}}" selected>{{request.user}}</option>
          </select>
        </div>

          <label for="id_sistema">Sistema:</label>
          {{ form.sistema }}

          <label for="id_descricao">Descrição:</label>
          {{ form.descricao }}

          <label for="id_jogador">Jogadores:</label>
          {{ form.jogador }}
        </div>
        
        <div class="c1" style="align-items: center;">

          <img id="selectedImage" src="
          
          {% if campanha %}
            {{campanha.imagem.url}}
          {% else %}
          https://i.ibb.co/pzkH6gc/placeholder.png
          {% endif %}
          " alt="example placeholder" />
          <input type="file" name="imagem" accept="image/*" required id="id_imagem" onchange="displaySelectedImage(event, 'selectedImage')">

          <p style="margin: 20px; margin-top: 10px;">______________________________</p>

          <button type="submit" class="botao">Criar Campanha</button>
          <a class="btn-cancelar" href="javascript:history.back()">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
