{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial - Draconato</title>

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />

    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <link href="{% static 'js/scripts.js' %}" rel="javascript" />

    <script src="https://kit.fontawesome.com/25a514775a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="area-total">
      <div class="cabecalho">
        <div class="cabecalho-logo">
          <a href="{% url 'index' %}"><img class="logo" src="{% static 'logo/logo.svg' %}" alt="" /></a>
        </div>

        <div class="cabecalho-nav">
          <a style="color: #D9C179;" href="{% url 'index' %}">Página Inicial</a>
          <a href="{% url 'minhascampanhas' %}">Minhas Campanhas</a>
        </div>

        <div class="cabecalho-user">
          <a class="notificacoes" href="#"><i class="bi bi-bell-fill"></i></a>
          <div class="btn-group">
            <button class="botao" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }} <i class="bi bi-person-circle"></i></button>
            <div class="dropdown-menu dropdown-menu-right">

              
              {% if user.is_superuser %}
                
              <a class="dropdown-item" href="{% url "painel-listar" %}"><i class="bi bi-gear-wide-connected"></i>Painel Admin</a>
              
              {% else %}

              <a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i>Meu Perfil</a>

              {% endif %}

              <div class="dropdown-divider"></div>
              <a style="color: #963838;" class="dropdown-item" href="{% url 'account_logout' %}"><i class="bi bi-box-arrow-left"></i>Sair</a>
            </div>
          </div>
        </div>
      </div>

      <div class="corpo">
        <div class="area-ext">
          {% block area %}

          {% endblock %}
        </div>
      </div>
      <footer>
        <h3>@7BiTS</h3>
      </footer>
    </div>
  </body>
</html>
